# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.parquet
*.csv
data/
logs/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Spark
derby.log
metastore_db/
spark-warehouse/

# Test coverage
.coverage
htmlcov/
.pytest_cache/